{% extends 'base.html' %}

 {% block content %}

  <h1 style="text-align:center;font-family:sans-serif;">My Watch List</h1>

  <p style="text-align:center;font-family:sans-serif;color: burlywood;">by {{name}} - {{student_id}}</p>
  
  <p style="text-align:center;font-family:sans-serif;font-weight:bold;">{{status}}</p>

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      text-align: center;
      padding: 10px;
      border: 8px solid lightgray;
    }
    tr:nth-child(even) {
      background-color: beige;
    }
    td {
      text-align: center;
      border: 7px solid white;
    }
  </style>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for movie in list_of_movies %}
      <tr>
          <td>{{movie.watched}}</td>
          <td style="width: 30%;">{{movie.title}}</td>
          <td>{{movie.rating}}</td>
          <td style="width: 20%;">{{movie.release_date}}</td>
          <td style="width: 60%;">{{movie.review}}</td>
      </tr>
    {% endfor %}
  </table>

 {% endblock content %}
